{% extends 'base.html' %}
{% block title %}Registrar Usuarios{% endblock %}
{% block canvas %}
    <h1>Tipos de prendas</h1>

<form id="formulario" action="/prendas/tipo" method="post">
    <fieldset>
      <label>Buscar</label>
      <input id="buscar" name="tipo" type="text" />
      {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
    </fieldset>
</form>
<div class="table-responsive">
  <table class="table table-condensed">
    <tr>
      <td><strong>Tipo</strong></td>
      <td><strong>Codigo</strong></td>
      <td><strong>Precio x Kilo</strong></td>
      <td></td>
  </tr>

    {% for tipo in tipos%}
    <tr>
        <td>{{tipo.id}}</td>
        <td>{{tipo.name}}</td>
        <td>{{tipo.price}}</td>
        <td><a href="/tipos/{{tipo.id}}">Editar</a></td>
        <td><a href="/tipos/borrar/{{tipo.id}}">Borrar</a></td>

    </tr>
    {% endfor%}

  </table>
</div>



{% endblock canvas %}
