{% extends 'base.html' %}
{% block title %}Registrar prenda{% endblock %}
{% block canvas %}
    <h1>Ingresar Prenda</h1>
    <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
        <p>
            <label for="id_client">Cliente:</label>
            {{ client }}
            <input id="id_client" type="hidden" name="client" value="{{ client.id }}"></input>
        </p>

        <button type="submit" name="final" value="final" class="btn btn-success">Guardar y Finalizar</button>
        <button type="submit" value="seguir" class="btn btn-primary">Guardar y Seguir Agregando</button>

    </form>


{% endblock canvas %}
