{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block canvas %}
    <div class="container">
        <form class="form-signin" role="form" method="post" action="">
            {% csrf_token %}
            <h2 class="form-signin-heading">Ingrese sus datos</h2>
            <input type="text" name="username" class="form-control" placeholder="Usuario" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        </form>

    </div>


{% endblock canvas %}