{% extends 'base.html' %}
{% block title %}Registrar Usuarios{% endblock %}
{% block canvas %}
    <h1>Prendas Registradas</h1>

<form id="formulario" action="/prendas/tipo" method="post">
    <fieldset>
      <label>Buscar</label>
      <input id="buscar" name="tipo" type="text" />
      {% csrf_token %}
      <input id="campo3" name="enviar" type="submit" value="buscar" />
    </fieldset>
</form>
<div class="table-responsive">
  <table class="table table-condensed">
    <tr>
      <td><strong>codigo</strong></td>
      <td><strong>descripción</strong></td>
      <td><strong>status</strong></td>
      <td><strong>ingreso</strong></td>
      <td><strong>recojo</strong></td>
      <td><strong>cliente</strong></td>
      <td></td>
  </tr>

    {% for garment in garments %}
    <tr>
        <td>{{garment.id}}</td>
        <td>{{garment.description}}</td>
        <td>{{garment.get_status}}</td>
        <td>{{garment.check_in}}</td>
        <td>{{garment.check_out}}</td>
        <td><a href="/clientes/ver/{{ garment.client.id }}">{{garment.client}}</a></td>
        <td><a href="/prendas/status/{{garment.id}}">Status</a></td>
        <td><a href="/prendas/resultado/{{garment.id}}">Ver más...</a></td>


    </tr>
    {% endfor%}

  </table>
</div>



{% endblock canvas %}
