{% extends 'base.html' %}
{% block title %}Registrar Prenda{% endblock %}
{% block canvas %}
    <h1>Registrar tipo de prenda</h1>
    <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Guardar">
    </form>


{% endblock canvas %}
