{% extends 'base.html' %}
{% block title %}Registrar Usuarios{% endblock %}
{% block canvas %}
    <h1>Ingreso</h1>

    <br>numero de ticket: {{garment.id}}</br>
    <br>Cliente:{{garment.client}}</br>
    <br>Prenda: {{garment.description}}</br>
    <br>Precio final: S./ {{garment.price}} nuevos soles</br>
    <br>fecha de ingreso: {{garment.check_in}}</br>
    <br>fecha de entrega: {{garment.check_out}}</br>
    <br>estado: {{garment.get_status}}</br>







{% endblock canvas %}
