{% extends 'base.html' %}
{% block title %}Actualizar Status{% endblock %}
{% block canvas %}
    <h1>Actualizar Status</h1>
    <h2> ticket: {{ garment.id }}</h2>
   <h2> descripción: {{ garment.description }}</h2>
    <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit"  class="btn btn-success">Guardar</button>

    </form>


{% endblock canvas %}
