{% extends 'base.html' %}
{% block title %}Registrar Clientes{% endblock %}
{% block canvas %}
    <h1>Clientes</h1>

<form id="formulario" action="/clientes/buscar" method="post">
    <fieldset>
      <label>DNI</label>
      <input id="dni" name="dni" type="text" />
      {% csrf_token %}
      <button type="submit" class="btn btn-primary btn-sm">Buscar/Crear</button>
    </fieldset>
</form>
<div class="table-responsive">
  <table class="table table-condensed">
    <tr>
      <td><strong>Nombre</strong></td>
      <td><strong>Apellido</strong></td>
        <td><strong>DNI</strong></td>
      <td><strong>Email</strong></td>
      <td></td>
  </tr>

    {% for cliente in clientes%}
    <tr>
        <td>{{cliente.name}}</td>
        <td>{{cliente.last_name}}</td>
        <td>{{cliente.dni}}</td>
        <td>{{cliente.email}}</td>
        <td><a href="/prenda/ingresar/{{cliente.dni}}">Nuevo Pedido</a></td>


    </tr>
    {% endfor%}

  </table>
</div>



{% endblock canvas %}
