{% extends 'base.html' %}
{% block title %}Registrar Usuarios{% endblock %}
{% block canvas %}
    <h1>Registrar Cliente</h1>
    <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Guardar</button>
    </form>


{% endblock canvas %}
