{% extends 'base.html' %}
{% block title %}Registrar Usuarios{% endblock %}
{% block canvas %}
    <h1>Cliente</h1>
   nombre: {{ cliente.name }}</br>
   apellido: {{ cliente.last_name }}</br>
   DNI: {{ cliente.dni }}</br>
   email: {{ cliente.email }}</br>
   celular: {{ cliente.celphone }}</br>
   dirección: {{ cliente.address }}</br>

{% endblock canvas %}
